/src/RFE.Service.FT.Core/bin
/src/RFE.Service.FT.Core/obj
/src/RFE.Service.FT.Infrastructure/bin
/src/RFE.Service.FT.Infrastructure/obj
/src/RFE.Service.FT.Web/bin
/src/RFE.Service.FT.Web/obj
/test/RFE.Service.FT.Core.Test/bin
/test/RFE.Service.FT.Core.Test/obj
/test/RFE.Service.FT.Infrastructure.Test/bin
/test/RFE.Service.FT.Infrastructure.Test/obj
/test/RFE.Service.FT.Web.Test/bin
/test/RFE.Service.FT.Web.Test/obj
/test/RFE.Service.FT.Integration.Test/bin
/test/RFE.Service.FT.Integration.Test/obj
/test/RFE.Service.FT.Acceptance.Test/bin
/test/RFE.Service.FT.Acceptance.Test/obj
/test/RFE.Service.FT.Component.Test/bin
/test/RFE.Service.FT.Component.Test/obj
bin
obj