<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="IAZI_IT_Components" value="http://192.168.9.98/guestAuth/app/nuget/feed/ItComponents/IAZI_IT_Components/v3/index.json" />
  </packageSources>  
</configuration>
